@import url('https://fonts.googleapis.com/css2?family=Karla&family=Trocchi&display=swap');
body{
    padding: 0;
    margin: 0;
    font-family: "Karla", "sans-serrif";
    background-color: #FBFBFB;
    overflow-x: hidden;
}